*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("../assets/healthy-dietwebp.webp");
  min-height: 180vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__recipe__image {
  max-width: 720px;
  max-height: 520px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.recipeMain {
  max-width: 720px;
  margin: auto;
  padding-top: 20px;
}

.recipe__list {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.recipeOfTheDay {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.recipeTitle {
  font-family: "Pacifico", cursive;
  font-size: 44px;
  text-align: center;
}

.para {
  padding-top: 24px;
  font-family: "Montserrat", sans-serif;
}
/*  
        font-family: 'Caveat', cursive;
    
        font-family: 'Lobster', cursive;
    
        font-family: 'Marck Script', cursive;
    
        font-family: 'Montserrat', sans-serif;
    
        font-family: 'Nunito', sans-serif;
    
        font-family: 'Pacifico', cursive; 
    */
