.background {
  background-image: url("../assets/spice-pasta.jpg");
  height: 110vh;
}

.reg {
  padding-top: 6rem;
  color: white;
  padding-left: 20%;
  width: 100%;
  max-width: 800px;
}

.para {
  margin-top: 14px;
}

.link__to {
  color: var(--pinky);
}
