*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: var(--light-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  color: black;
  font-size: 26px;
  font-weight: 900;
}

.lis {
  display: flex;
  gap: 1rem;
}

.lis li {
  list-style: none;
  text-transform: uppercase;
}
