.first {
  font-family: "Marck Script", cursive;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

/*  
    font-family: 'Pacifico', cursive;

    font-family: 'Caveat', cursive;

    font-family: 'Lobster', cursive;

    font-family: 'Marck Script', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Nunito', sans-serif;
*/
