.background {
  background-image: url("../../assets/chushka.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
}

.content {
  max-width: 720px;
  margin-left: 15%;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding-top: 80px;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
}

.formInside {
  margin-top: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inpitOpacity {
  background-color: rgba(0, 0, 0, 0.349);
  border: none;
  color: white;
  border-radius: 15px;
}

.inputField {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 15px;
}

.inpitOpacity:focus {
  outline: none;
}

.para {
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}

.buttonMain:hover {
  background-color: yellow;
  transform: scale(1.05);
}

.categories {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.checkboxItems {
  display: flex;
  gap: 15px;
}

.checkbox {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 18px;
  list-style-type: none;
}

.suitable {
  display: flex;
  justify-content: center;
}

.suitable span {
  padding-left: 10px;
  font-weight: 700;
}

.spanText {
  margin-right: 1rem;
}

.addIngredient {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: var(--violet);
  color: black;
  cursor: pointer;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: baseline;
}

/* select {
  height: 2.2rem;
  background-color: rgba(0, 0, 0, 0.359);
  border: none;
  color: white;
  border-radius: 25%;
} */

.fileUp {
  visibility: hidden;
}

.textArea {
  background-color: rgba(0, 0, 0, 0.349);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 12px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.upload {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(2, 176, 176);
  padding: 8px;
  cursor: pointer;
  border-radius: 15px;
}

.upload:hover {
  background-color: aqua;
}

/*  
        font-family: 'Caveat', cursive;
    
        font-family: 'Lobster', cursive;
    
        font-family: 'Marck Script', cursive;
    
        font-family: 'Montserrat', sans-serif;
    
        font-family: 'Nunito', sans-serif;
    
        font-family: 'Pacifico', cursive; 
    */
