.background {
  background-image: url("../../assets/chushka.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  padding-bottom: 4rem;
}

.content {
  max-width: 720px;
  margin-left: 15%;
}

.title {
  text-align: center;
  padding-top: 80px;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
}

.formInside {
  margin-top: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.checkboxItems {
  display: flex;
  gap: 15px;
}

.checkbox {
  font-weight: 500;
  color: white;
  font-size: 18px;
  list-style-type: none;
}

.suitable {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;
}

.suitableSelect {
  width: 50px;
}
.addIngredient {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: var(--violet);
  color: black;
  cursor: pointer;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: baseline;
}

.fileUp {
  visibility: hidden;
}

.textArea {
  background-color: rgba(105, 90, 205, 0.7);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 12px;
  font-size: 16px;
  outline: none;
}

.upload {
  color: black;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--purple);
  transition: 300ms ease-in-out;
  padding: 12px;
  cursor: pointer;
  border-radius: 15px;
}

.upload__button {
  margin: 1rem auto;
}

.upload:hover {
  background-color: var(--light-purple);
}

.white {
  color: white;
}
