.background {
  background-image: url("../../assets/healthy-diet.jpg");
  min-height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  padding: 2rem;
  margin: auto;
  max-width: 720px;
  text-align: center;
}

.title {
  font-family: "Pacifico", cursive;
  font-size: 48px;
}

.product {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.singlePhoto {
  max-width: 300px;
  max-height: 300px;
  border: 10px double rgba(92,92,92,0.5);
border-radius: 20px;
-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

.card {
  border: 10px double rgba(92,92,92,0.5);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
  background-color: #88898877;
}

/*  
    font-family: 'Pacifico', cursive;

    font-family: 'Caveat', cursive;

    font-family: 'Lobster', cursive;

    font-family: 'Marck Script', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Nunito', sans-serif;

     
*/
