.background {
  background-image: url("../../assets/healthy-dietwebp.webp");
  min-height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  padding: 2rem;
  margin: auto;
  max-width: 720px;
  text-align: center;
}

.card {
  margin-top: 20px;
  border: 10px double var(--deep-purple);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: var(--light-purple-transparent);
}

.title {
  font-size: 40px;
  margin-top: 20px;
}

.product {
  margin-top: 28px;
  margin-bottom: 18px;
}

.singlePhoto {
  margin-top: 40px;
  max-width: 300px;
  max-height: 300px;
  border: 10px double rgba(92, 92, 92, 0.5);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.preparation {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.preparation p {
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn_warn {
  background-color: var(--pinky);
}

.btn_warn:hover {
  background-color: pink;
}

.form__button {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
