.center {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem;
}

.centered {
  display: flex;
  justify-content: center;
}

.product_name {
  font-family: "Caveat", cursive;
  font-size: 30px;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

.remove {
  padding-left: 2rem;
}

.addIngredient {
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: red;
  color: black;
  cursor: pointer;
}

/*  
      font-family: 'Caveat', cursive;
  
      font-family: 'Lobster', cursive;
  
      font-family: 'Marck Script', cursive;
  
      font-family: 'Montserrat', sans-serif;
  
      font-family: 'Nunito', sans-serif;
  
      font-family: 'Pacifico', cursive; 
  */ ;
