.background {
  background-image: url("../../assets/fresh-raw-meat.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile_section {
  max-width: 560px;
  margin-left: 10%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.profile_name {
  margin-top: 12px;
  color: white;
}

.noPic {
  margin: 1rem 0;
  color: white;
}

.profile__pic {
  height: 250px;
  border-radius: 15px;
}
/*  
        font-family: 'Caveat', cursive;
    
        font-family: 'Lobster', cursive;
    
        font-family: 'Marck Script', cursive;
    
        font-family: 'Montserrat', sans-serif;
    
        font-family: 'Nunito', sans-serif;
    
        font-family: 'Pacifico', cursive; 
    */
