@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Lobster&family=Marck+Script&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Nunito:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika:ital@0;1&family=Comfortaa:wght@300;400;500;600;700&display=swap");

/* 
    font-family: 'Andika', sans-serif;

    font-family: 'Comfortaa', cursive;
*/

:root {
  --deep-purple: #424049;
  --purple: #748290;
  --light-purple: #a5afbb;
  --light-purple-transparent: #a5afbbe9;
  --violet: #c9b8c3;
  --pinky: #dc9dac;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

h1 {
  font-family: "Comfortaa", cursive;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Marck Script", cursive;
  font-size: 2rem;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 500;
}

p {
  font-family: "Comfortaa", cursive;
  letter-spacing: 1px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 2.5rem;
  transition: 0.2s ease-in-out;
  background-color: rgba(105, 90, 205, 0.7);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  font-family: "Marck Script", cursive;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select {
  outline: none;
  border: none;
  border-radius: 10px;
  height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  caret-color: white;
  color: white;
  font-family: "Marck Script", cursive;
}

input[type="radio"] {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

input[type="radio"]:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid red;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  margin: 0.25rem;
}

.btn__primary {
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: black;
  border: none;
  background-color: var(--violet);
  border-radius: 15px;
  padding: 12px 20px;
  transition: all 300ms ease-in-out;
  font-size: 18px;
  margin-top: 20px;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.75);
}

.btn__primary:hover {
  background-color: var(--pinky);
}

.regButton {
  display: block;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
  word-spacing: 4px;
  padding: 1rem;
  width: 100%;
  background-color: var(--violet);
  border: none;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.regButton:hover {
  background-color: var(--pinky);
  cursor: pointer;
}

.regButton:focus {
  background-color: var(--pinky);
}

/* INPUT */

.genLabel {
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  display: block;
}

::placeholder {
  color: white;
}

/*  
    font-family: 'Caveat', cursive;

    font-family: 'Lobster', cursive;

    font-family: 'Marck Script', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Nunito', sans-serif;

    font-family: 'Pacifico', cursive; 
*/
